.form {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    margin: 5% 30%;
    background-color: #c0c0c0;
    border-radius: 20px;
    width: auto;
}

.form .title {
    font-size: 32px;
}