.text {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
}

.text label {
    margin-bottom: 8px; /* Espaço entre o label e o input */
    font-size: 24px;
}

.text input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 95%; /* Ajusta a largura para 100% do contêiner pai */
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}
